@import 'reset.css';
@import 'layout.css';

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');

:root {
	--color-primary: #000000;
	--color-success: #34c759;
	--color-danger: #ff3b30;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: 'Manrope', sans-serif;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
	width: 100%;
}

button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.25rem;
	padding: 0.25rem 1.25rem;
}
